---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";

const url = "https://xedxgyfplsvybeqftmdv.supabase.co/rest/v1/events?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhlZHhneWZwbHN2eWJlcWZ0bWR2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc3MTUsImV4cCI6MjA1OTg0MzcxNX0.vKsJTQD_cE5yh6D39RHg0Uyus8BypCo1qHz2E3iyOLw";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<Layout>

  <h1>MIN SIDE</h1>
  <a href="/workshop">Gå til workshop</a>
  <article>
  {data.map((event) => (
	<h2>{event.event_title}</h2>
  <p>{event.event_description}</p>
  <a href={`/events/${event.event_slug}`}>læs mere</a>
  ))
}
</article>
</Layout>
