---
//@ts-nocheck

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const url =
    "https://xedxgyfplsvybeqftmdv.supabase.co/rest/v1/events?select=*";
  const key = "";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const data = await fetch(url, options).then((res) => res.json());
  console.log(data);

  return data.map((event) => {
    return {
      params: { slug: event.event_slug },
      props: { event },
    };
  });
}

const { event } = Astro.props;
---

<Layout title={event.event_title}>
  <h1>{event.event_title}</h1>
  <img
    src={`billedesamling_circular_lab/${event.event_img}`}
    alt={event.event_img}
  />
</Layout>;

